@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.spaceBetween {
  justify-content: space-between;
}

.blueBackground {
  background-color: #00033A;
}

.h1 {
  font-size: 48px;
}

.heroGradient {
  background: linear-gradient(to bottom, rgba(0, 3, 58, 1), rgba(0, 3, 58, 0));
}

/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
