@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h2 {
  @apply sm:text-[40px] text-3xl
}

h3 {
  @apply sm:text-[32px] text-center text-2xl
}

.hero-container {
  height: calc(100vh - 86px);
}

.bgImg {
  @apply object-cover z-[-5]
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
}

.mouse::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ccc;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}

.mouseContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* display: grid; */
  place-items: center;
}

.stackItem {
  @apply w-[72px]
}

.scrollToTopButton {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.scrollToTopButton.visible {
  opacity: 1;
}

p, h1, h2, h3 {
  @apply  text-white
}

.fade {
  @apply !opacity-0
}
.img-transition {
  transition: opacity 2s ease-in-out;
}

.grecaptcha-badge { visibility: hidden; }

.hero-h1 {
  background: linear-gradient(to bottom left, rgba(0, 1, 30, 0.8), rgba(0, 1, 30, 0));
}

@keyframes wheel {
  to {
      opacity: 0;
      top: 27px
  }
}

@-webkit-keyframes wheel {
  to {
      opacity: 0;
      top: 27px
  }
}

/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
