@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #cacdff;
  --foreground: #00032e;
  --card: #1e216b;
  --dual-gray: #696969;
  --footer-bg: #00033A;
  --gold: #f5be08;
  --light-blue: #000dc4;
}

p {
  @apply font-[poppins]
}

.dark {
  --background: #00032e;
  background: var(--background);  
  --foreground: #cacdff;
  --card: #1e216b;
  --dual-gray: #c6c7dd;
  --footer-bg: #000222;
}




.hide-on-dark, .dark .show-on-dark {
  display: block;
}

.dark .hide-on-dark, .show-on-dark {
  display: none;
}

.dark .form-field {
  @apply bg-gray-200
}

.golden-gradient {
  @apply bg-linear-to-tr from-(--gold)/50 to-(--gold)
}

.card {
  @apply bg-black/30 border border-white/10 hover:border-(--light-blue)
}

.hover-scale {
  @apply hover:scale-105 transition-all duration-300
}


.scrollToTopButton {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.scrollToTopButton.visible {
  opacity: 1;
}



.grecaptcha-badge { visibility: hidden; }




